*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: orange;
    --paragraph-color: rgb(53, 53, 53);
    --text-color: black;
    --white-color: white;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    width: 100%;
    background-color: white;
    height: 80px;
    padding: 0 5%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.dark-mode header{
    background-color: black;
    color: white;
    transition: .4s;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li{
    color: var(--text-color);
    font-size: 1.2rem;
    transition: all .3s ease-in;
}

.dark-mode nav ul li{
    color: white;
    transition: .4s;
}

nav ul li:hover{
    color: var(--primary-color);
}



.sign .btn{
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.2rem;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    font-weight: 500;
    transition: all .2s ease-in;
    cursor: pointer;
}

.sign .btn:hover{
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

/* .mainNav {
    display: none;
}

.mainNav.active{
    display: block;
}

.toggleMenu{
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1{
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3{
    transform: translate(0, -11px) rotate(45deg);
} */

main{
    width: 100%;
    padding: 0 5%;
}

.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 50px 0;
}

.card{
    width: 300px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    padding: 50px 20px;
    border: 2px solid #ebe9e9;
    border-radius: 10px;
    transition: all .3s ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.card:hover{
    border: 2px solid var(--primary-color);
}



.card h2{
    font-size: 1.8rem;
}

.card .btn{
    padding: 5px 15px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.2rem;
    border-radius: 8px;
    border: 2px solid var(--primary-color);
    /* font-weight: 500; */
    transition: all .2s ease-in;
    text-align: center;
    cursor: pointer;
}

.card .btn:hover{
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: black;
    transition: ease-in-out .4s;
}

footer p{
    font-size: 1rem;
    color: var(--white-color);
}

footer p a{
    color: var(--primary-color);
}
footer p a:hover{
    color: var(--white-color);
}

.dark-mode{
    transition: .4s;
    background-color: rgb(26, 26, 26);
    color: #c9c9c9;
}


@media (max-width: 1200px) {
    .section{
        justify-content: space-around;
    }
    .card{
        width: 280px;
    }
    
}

@media (max-width: 992px) {
    .card{
        width: 320px;
    }
}

@media (max-width: 768px) {
    
    .logo h1{
        font-size: 1.5rem;
    }

    .sign .btn{
    padding: 5px 10px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    font-weight: 500;
    transition: all .2s ease-in;
    cursor: pointer;
    }

    .card{
        width: 280px;
    }
}

@media (max-width: 644px) {

    .section{
        flex-direction: column;
        padding: 20px 0;
    }

    .card{
        width: 100%;
    }

    header{
        justify-content: center;
        padding: 20px 5%;
        gap: 15px;
    }

    nav ul{
        display: none;
    }
    
}

